.bg-banner {
  @apply bg-cover bg-center bg-no-repeat h-full w-full;
}

.bg-banner-arrow {
  @extend .bg-banner;
  background-image: url(/images/banner/bg-banner-arrow.png);
}

.bg-banner-glass {
  @extend .bg-banner;
  background-image: url(/images/banner/bg-banner-glass.png);
}

.bg-banner-gradient {
  @extend .bg-banner;
  background-image: url(/images/banner/bg-banner-gradient.png);
}

.product-banner__container {
  @apply overflow-hidden rounded-3xl h-96 w-full;
}

.product-banner__content {
  @apply border h-full flex flex-col items-center justify-center mobile:px-4;
}

.product-banner__title {
  @apply font-semibold mb-2 text-4xl;
}
.product-banner__title,
.product-banner__description {
  @apply text-center md:whitespace-pre-line;
}
